win	ICON	win.ico
LOGO	BITMAP	logo.bmp
_0	PNG	src\0.png
_1	PNG	src\1.png
_2	PNG	src\2.png
_3	PNG	src\3.png
_4	PNG	src\4.png
_5	PNG	src\5.png
_6	PNG	src\6.png
_7	PNG	src\7.png
_8	PNG	src\8.png
_9	PNG	src\9.png
_Per	PNG	src\perc.png
_mem	PNG	src\memoryuse.png
_title	PNG	src\title.png
_exit	PNG	src\edit_close.png
exit_	PNG	src\exit.png
_about	PNG	src\about.png